@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: Poppins;
}

.form-group{
  width: 20rem;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background-color: #60CED4;
  width: 100%;
  padding: 20px;
  text-align: right;
}

.footer.fixed{
  position: fixed;
  bottom: 0;
}

.btn-submit{
  width: 150px;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  background-color: #5271FF;
  color: #fff;
  border-radius: 0.75rem;
  display: block;
}

.d-flex{
  display: flex;
}

.space-btw{
  justify-content:space-between;
}

.bucket-item:nth-of-type(1){
  background-color: #FFF5A7;
}

 /* .bucket-item:hover{
   background-color: blanchedalmond;
 } */


.bucket-item{
  background-color: ghostwhite;
  color: black;
  padding: 1rem;
  box-shadow: .1rem 0rem 2rem .5rem rgba(0, 0, 0, 0.068);
}


.item-title{
  font-size:larger;
  font-weight:510;
  margin-top:10px;
  margin-bottom:12px;
  
}

.item-content{
  font-size:12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.item-footer{
  display: flex;
  justify-content: space-between;
  
}

.item-footer a{
  color: #5271FF;
}

.page-title{
  font-size: 25px;
  font-weight: 600;
}

.page-date{
  color: #5271FF;
}

.page-content{
  margin-top: 30px;
  font-size: 12px;
}

.page-content p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-actions a, .page-actions button{
  width: 150px;
  padding:5px;
  color: #fff;
  border-radius: 0.75rem;
  display: inline-block;
}